@model IEnumerable<AgendaGit.Models.AgendaPessoal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agenda de contatos</h1>

<p>
    <a asp-action="Create">Novo contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgendaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgendaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneFixo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.AgendaID  }) |
                @Html.ActionLink("Detalhes", "Details", new {  id=item.AgendaID  }) |
                @Html.ActionLink("Deletar", "Delete", new {  id=item.AgendaID  })
            </td>
        </tr>
}
    </tbody>
</table>
